## Libraries

In [1]:
# Library to open `netcdf` file
import netCDF4
import xarray

#To pre-process data
import numpy as np
import pandas as pd

#To create visualization, graphs and plots
import matplotlib.pyplot as plt
import matplotlib.animation as animation

#To create geospatial map, requires dependency installation
import plotly.express as px
from mpl_toolkits.basemap import Basemap

#To Display the content
from IPython.display import display, HTML, Image
from IPython import display
from datetime import datetime

In [2]:
import os

In [3]:
file_path_L3_2021= []

for root, dirs, files in os.walk('C:/Users/Ochibobo/Arset/2021_L3_data'):
    for filename in files:
        print(os.path.join(root, filename))
        
        # Append the files into list
        file_path_L3_2021.append(os.path.join(root, filename))

C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201501_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201502_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201503_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201504_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201505_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201506_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201507_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201508_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201509_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201510_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201511_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201512_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201601_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201602_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201603_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201604_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201605_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201606_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201607_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201608_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201609_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201610_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201611_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201612_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201701_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201702_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201703_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201704_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201705_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201706_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201707_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201708_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201709_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201710_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201711_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201712_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201801_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201802_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201803_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201804_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201805_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201806_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201807_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201808_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201809_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201810_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201811_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201812_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201901_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201902_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201903_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201904_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201905_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201906_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201907_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201908_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201909_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201910_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201911_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_201912_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202001_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202002_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202003_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202004_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202005_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202006_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202007_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202008_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202009_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202010_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202011_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202012_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202101_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202102_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202103_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202104_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202105_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202106_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202107_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202108_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202109_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202110_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202111_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202112_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202201_B10206Ar.nc4
C:/Users/Ochibobo/Arset/2021_L3_data\oco2_GEOS_L3CO2_month_202202_B10206Ar.nc4

In [4]:
len(file_path_L3_2021)

86

86 months i.e. Jan 2015 -> Feb 2020

## 2015

In [25]:
%time
data_xco2_2015 = []

for i in range(0, 12):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2015.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [26]:
list(data_xco2_2015[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Use Xarray to read file

In [27]:
df_xr_2015 = []

for i in range(0, 12):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2015.append(df_xr)

In [28]:
df_xr_2015[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2015-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2015-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2015-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-03-15T11:56:26Z
    History:                        Original file generated: Tue Mar 15 11:56...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [29]:
df_xco2_2015_Jan = df_xr_2015[0]["XCO2"][0].to_pandas()
df_xco2_2015_Jan

lon,-180.000,-179.375,-178.750,-178.125,-177.500,-176.875,-176.250,-175.625,-175.000,-174.375,...,173.750,174.375,175.000,175.625,176.250,176.875,177.500,178.125,178.750,179.375
lat,,,,,,,,,,,,,,,,,,,,,
-90.0,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,...,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395
-89.5,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,...,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395
-89.0,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,...,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395
-88.5,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,...,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395
-88.0,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,...,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395,0.000395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88.0,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,...,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401
88.5,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,...,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401
89.0,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,...,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401
89.5,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,...,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401
90.0,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,...,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401,0.000401

In [30]:
# import datetime

# #provide month number


# for i in range(0, 12):
#     month_num = str(i + 1)
#     datetime_object = datetime.datetime.strptime(month_num, "%m")

#     month_name = datetime_object.strftime("%b")
# #     print("Short name: ", f"df_xr_2015_" + month_name)
    
    
# #     full_month_name = datetime_object.strftime("%B")
# #     print("Full name: ",full_month_name)

# for i, j in enumerate(df_xco2_2015):
#     month_num = str(i + 1)
#     datetime_object = datetime.datetime.strptime(month_num, "%m")
#     month_name = datetime_object.strftime("%b")
#     month_name = f"df_xr_2015_" + month_name
    
# #     month_name = j
#     print(month_name)
# month_name

# Months_2015 = ['Jan_2015_df', 'Feb_2015_df', 'Mar_2015_df', 'Apr_2015_df', 'May_2015_df','Jun_2015_df', 'Jul_2015_df', 'Aug_2015_df',
#               'Sept_2015']

In [31]:
df_xco2_2015 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2015[i]["XCO2"][0].to_pandas()
    
    df_xco2_2015.append(df)
    
df_xco2_2015

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  88.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  89.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  89.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  90.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
  88.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
  89.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
  89.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
  90.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  90.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 -89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
  88.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
  89.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
  89.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
  90.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 -88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
  90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -88.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -88.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 -89.0  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 -88.5  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 -88.0  0.000396  0.000396  0.000396  ...  0.000396  0.000396  0.000396
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
  88.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
  89.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
  89.5  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395
  90.0  0.000395  0.000395  0.000395  ...  0.000395  0.000395  0.000395

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -88.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -88.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  88.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  89.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  89.5  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395
  90.0  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395  0.000395

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -89.0  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396
 -88.5  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396  0.000396

In [32]:
Jan_2015_df = pd.DataFrame(df_xco2_2015[0].unstack())
Jan_2015_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2015_df
Jan_2015_df = Jan_2015_df['xco2'].reset_index()
Jan_2015_df['Year'] = 2015
Jan_2015_df['Month'] = 'January'
Jan_2015_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000395  2015  January
1      -180.000 -89.5  0.000395  2015  January
2      -180.000 -89.0  0.000395  2015  January
3      -180.000 -88.5  0.000395  2015  January
4      -180.000 -88.0  0.000395  2015  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000401  2015  January
207932  179.375  88.5  0.000401  2015  January
207933  179.375  89.0  0.000401  2015  January
207934  179.375  89.5  0.000401  2015  January
207935  179.375  90.0  0.000401  2015  January

[207936 rows x 5 columns]

In [33]:
Feb_2015_df = pd.DataFrame(df_xco2_2015[1].unstack())
Feb_2015_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2015_df
Feb_2015_df = Feb_2015_df['xco2'].reset_index()
Feb_2015_df['Year'] = 2015
Feb_2015_df['Month'] = 'February'
Feb_2015_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000395  2015  February
1      -180.000 -89.5  0.000395  2015  February
2      -180.000 -89.0  0.000395  2015  February
3      -180.000 -88.5  0.000395  2015  February
4      -180.000 -88.0  0.000395  2015  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000402  2015  February
207932  179.375  88.5  0.000402  2015  February
207933  179.375  89.0  0.000402  2015  February
207934  179.375  89.5  0.000402  2015  February
207935  179.375  90.0  0.000402  2015  February

[207936 rows x 5 columns]

In [34]:
Mar_2015_df = pd.DataFrame(df_xco2_2015[2].unstack())
Mar_2015_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2015_df
Mar_2015_df = Mar_2015_df['xco2'].reset_index()
Mar_2015_df['Year'] = 2015
Mar_2015_df['Month'] = 'March'
Mar_2015_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000395  2015  March
1      -180.000 -89.5  0.000395  2015  March
2      -180.000 -89.0  0.000395  2015  March
3      -180.000 -88.5  0.000395  2015  March
4      -180.000 -88.0  0.000395  2015  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000403  2015  March
207932  179.375  88.5  0.000403  2015  March
207933  179.375  89.0  0.000403  2015  March
207934  179.375  89.5  0.000403  2015  March
207935  179.375  90.0  0.000402  2015  March

[207936 rows x 5 columns]

In [35]:
Apr_2015_df = pd.DataFrame(df_xco2_2015[3].unstack())
Apr_2015_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2015_df
Apr_2015_df = Apr_2015_df['xco2'].reset_index()
Apr_2015_df['Year'] = 2015
Apr_2015_df['Month'] = 'April'
Apr_2015_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000395  2015  April
1      -180.000 -89.5  0.000395  2015  April
2      -180.000 -89.0  0.000395  2015  April
3      -180.000 -88.5  0.000395  2015  April
4      -180.000 -88.0  0.000395  2015  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000403  2015  April
207932  179.375  88.5  0.000403  2015  April
207933  179.375  89.0  0.000403  2015  April
207934  179.375  89.5  0.000403  2015  April
207935  179.375  90.0  0.000403  2015  April

[207936 rows x 5 columns]

In [36]:
May_2015_df = pd.DataFrame(df_xco2_2015[4].unstack())
May_2015_df.rename(columns={0:'xco2'}, inplace = True)
May_2015_df
May_2015_df = May_2015_df['xco2'].reset_index()
May_2015_df['Year'] = 2015
May_2015_df['Month'] = 'May'
May_2015_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000395  2015   May
1      -180.000 -89.5  0.000395  2015   May
2      -180.000 -89.0  0.000395  2015   May
3      -180.000 -88.5  0.000395  2015   May
4      -180.000 -88.0  0.000395  2015   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000403  2015   May
207932  179.375  88.5  0.000403  2015   May
207933  179.375  89.0  0.000403  2015   May
207934  179.375  89.5  0.000403  2015   May
207935  179.375  90.0  0.000403  2015   May

[207936 rows x 5 columns]

In [37]:
Jun_2015_df = pd.DataFrame(df_xco2_2015[5].unstack())
Jun_2015_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2015_df
Jun_2015_df = Jun_2015_df['xco2'].reset_index()
Jun_2015_df['Year'] = 2015
Jun_2015_df['Month'] = 'June'
Jun_2015_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000396  2015  June
1      -180.000 -89.5  0.000396  2015  June
2      -180.000 -89.0  0.000395  2015  June
3      -180.000 -88.5  0.000395  2015  June
4      -180.000 -88.0  0.000395  2015  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000400  2015  June
207932  179.375  88.5  0.000400  2015  June
207933  179.375  89.0  0.000400  2015  June
207934  179.375  89.5  0.000400  2015  June
207935  179.375  90.0  0.000400  2015  June

[207936 rows x 5 columns]

In [38]:
Jul_2015_df = pd.DataFrame(df_xco2_2015[6].unstack())
Jul_2015_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2015_df
Jul_2015_df = Jul_2015_df['xco2'].reset_index()
Jul_2015_df['Year'] = 2015
Jul_2015_df['Month'] = 'July'
Jul_2015_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000396  2015  July
1      -180.000 -89.5  0.000396  2015  July
2      -180.000 -89.0  0.000396  2015  July
3      -180.000 -88.5  0.000396  2015  July
4      -180.000 -88.0  0.000396  2015  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000395  2015  July
207932  179.375  88.5  0.000395  2015  July
207933  179.375  89.0  0.000395  2015  July
207934  179.375  89.5  0.000395  2015  July
207935  179.375  90.0  0.000395  2015  July

[207936 rows x 5 columns]

In [39]:
Aug_2015_df = pd.DataFrame(df_xco2_2015[7].unstack())
Aug_2015_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2015_df
Aug_2015_df = Aug_2015_df['xco2'].reset_index()
Aug_2015_df['Year'] = 2015
Aug_2015_df['Month'] = 'August'
Aug_2015_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000396  2015  August
1      -180.000 -89.5  0.000396  2015  August
2      -180.000 -89.0  0.000396  2015  August
3      -180.000 -88.5  0.000396  2015  August
4      -180.000 -88.0  0.000396  2015  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000393  2015  August
207932  179.375  88.5  0.000393  2015  August
207933  179.375  89.0  0.000393  2015  August
207934  179.375  89.5  0.000393  2015  August
207935  179.375  90.0  0.000393  2015  August

[207936 rows x 5 columns]

In [40]:
Sept_2015_df = pd.DataFrame(df_xco2_2015[8].unstack())
Sept_2015_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2015_df
Sept_2015_df = Sept_2015_df['xco2'].reset_index()
Sept_2015_df['Year'] = 2015
Sept_2015_df['Month'] = 'September'
Sept_2015_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000397  2015  September
1      -180.000 -89.5  0.000397  2015  September
2      -180.000 -89.0  0.000397  2015  September
3      -180.000 -88.5  0.000397  2015  September
4      -180.000 -88.0  0.000397  2015  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000394  2015  September
207932  179.375  88.5  0.000394  2015  September
207933  179.375  89.0  0.000394  2015  September
207934  179.375  89.5  0.000394  2015  September
207935  179.375  90.0  0.000394  2015  September

[207936 rows x 5 columns]

In [41]:
Oct_2015_df = pd.DataFrame(df_xco2_2015[9].unstack())
Oct_2015_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2015_df
Oct_2015_df = Oct_2015_df['xco2'].reset_index()
Oct_2015_df['Year'] = 2015
Oct_2015_df['Month'] = 'October'
Oct_2015_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000397  2015  October
1      -180.000 -89.5  0.000397  2015  October
2      -180.000 -89.0  0.000397  2015  October
3      -180.000 -88.5  0.000397  2015  October
4      -180.000 -88.0  0.000397  2015  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000397  2015  October
207932  179.375  88.5  0.000397  2015  October
207933  179.375  89.0  0.000397  2015  October
207934  179.375  89.5  0.000397  2015  October
207935  179.375  90.0  0.000397  2015  October

[207936 rows x 5 columns]

In [42]:
Nov_2015_df = pd.DataFrame(df_xco2_2015[10].unstack())
Nov_2015_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2015_df
Nov_2015_df = Nov_2015_df['xco2'].reset_index()
Nov_2015_df['Year'] = 2015
Nov_2015_df['Month'] = 'November'
Nov_2015_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000397  2015  November
1      -180.000 -89.5  0.000397  2015  November
2      -180.000 -89.0  0.000397  2015  November
3      -180.000 -88.5  0.000397  2015  November
4      -180.000 -88.0  0.000397  2015  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000400  2015  November
207932  179.375  88.5  0.000400  2015  November
207933  179.375  89.0  0.000400  2015  November
207934  179.375  89.5  0.000400  2015  November
207935  179.375  90.0  0.000400  2015  November

[207936 rows x 5 columns]

In [43]:
Dec_2015_df = pd.DataFrame(df_xco2_2015[11].unstack())
Dec_2015_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2015_df
Dec_2015_df = Dec_2015_df['xco2'].reset_index()
Dec_2015_df['Year'] = 2015
Dec_2015_df['Month'] = 'December'
Dec_2015_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000397  2015  December
1      -180.000 -89.5  0.000397  2015  December
2      -180.000 -89.0  0.000397  2015  December
3      -180.000 -88.5  0.000397  2015  December
4      -180.000 -88.0  0.000397  2015  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000402  2015  December
207932  179.375  88.5  0.000402  2015  December
207933  179.375  89.0  0.000402  2015  December
207934  179.375  89.5  0.000402  2015  December
207935  179.375  90.0  0.000402  2015  December

[207936 rows x 5 columns]

In [44]:
pd_List = [Jan_2015_df, Feb_2015_df, Mar_2015_df, Apr_2015_df, May_2015_df, Jun_2015_df, Jul_2015_df, Aug_2015_df, 
           Sept_2015_df, Oct_2015_df, Nov_2015_df, Dec_2015_df]
df_L3_2015 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2015['xco2'] = df_L3_2015['xco2'] * 1e6
df_L3_2015.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2015

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  394.634441  2015   January
1        -180.000     -89.5  394.612467  2015   January
2        -180.000     -89.0  394.587501  2015   January
3        -180.000     -88.5  394.566608  2015   January
4        -180.000     -88.0  394.563475  2015   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  402.348729  2015  December
207932    179.375      88.5  402.345794  2015  December
207933    179.375      89.0  402.364929  2015  December
207934    179.375      89.5  402.398643  2015  December
207935    179.375      90.0  402.427214  2015  December

[2495232 rows x 5 columns]

In [45]:
## Convert to csv
df_L3_2015.to_csv('Xco2_L3_2015.csv', index = None)

In [46]:
pd.read_csv('Xco2_L3_2015.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  394.634441  2015   January
1         -180.000     -89.5  394.612467  2015   January
2         -180.000     -89.0  394.587501  2015   January
3         -180.000     -88.5  394.566608  2015   January
4         -180.000     -88.0  394.563475  2015   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  402.348729  2015  December
2495228    179.375      88.5  402.345794  2015  December
2495229    179.375      89.0  402.364929  2015  December
2495230    179.375      89.5  402.398643  2015  December
2495231    179.375      90.0  402.427214  2015  December

[2495232 rows x 5 columns]

## 2016

In [47]:
%time
data_xco2_2016 = []

for i in range(12, 24):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2016.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [48]:
list(data_xco2_2016[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [49]:
df_xr_2016 = []

for i in range(12, 24):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2016.append(df_xr)

In [50]:
df_xr_2016[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2016-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2016-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2016-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-03-15T12:00:49Z
    History:                        Original file generated: Tue Mar 15 12:00...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [51]:
df_xco2_2016 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2016[i]["XCO2"][0].to_pandas()
    
    df_xco2_2016.append(df)
    
df_xco2_2016

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -89.5  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -89.0  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -88.5  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -88.0  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  90.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -89.5  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -89.0  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -88.5  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 -88.0  0.000397  0.000397  0.000397  ...  0.000397  0.000397  0.000397
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -89.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.5  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 -88.0  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397  0.000397
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
  90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
  90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 -88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -89.5  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -89.0  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -88.5  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -88.0  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
  90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -89.5  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -89.0  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -88.5  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 -88.0  0.000399  0.000399  0.000399  ...  0.000399  0.000399  0.000399
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
  88.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
  89.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
  89.5  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398
  90.0  0.000398  0.000398  0.000398  ...  0.000398  0.000398  0.000398

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -89.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.5  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 -88.0  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399  0.000399
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  88.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  89.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  89.5  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398
  90.0  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398  0.000398

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400

In [52]:
Jan_2016_df = pd.DataFrame(df_xco2_2016[0].unstack())
Jan_2016_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2016_df
Jan_2016_df = Jan_2016_df['xco2'].reset_index()
Jan_2016_df['Year'] = 2016
Jan_2016_df['Month'] = 'January'
Jan_2016_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000397  2016  January
1      -180.000 -89.5  0.000397  2016  January
2      -180.000 -89.0  0.000397  2016  January
3      -180.000 -88.5  0.000397  2016  January
4      -180.000 -88.0  0.000397  2016  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000404  2016  January
207932  179.375  88.5  0.000404  2016  January
207933  179.375  89.0  0.000404  2016  January
207934  179.375  89.5  0.000404  2016  January
207935  179.375  90.0  0.000404  2016  January

[207936 rows x 5 columns]

In [53]:
Feb_2016_df = pd.DataFrame(df_xco2_2016[1].unstack())
Feb_2016_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2016_df
Feb_2016_df = Feb_2016_df['xco2'].reset_index()
Feb_2016_df['Year'] = 2016
Feb_2016_df['Month'] = 'February'
Feb_2016_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000397  2016  February
1      -180.000 -89.5  0.000397  2016  February
2      -180.000 -89.0  0.000397  2016  February
3      -180.000 -88.5  0.000397  2016  February
4      -180.000 -88.0  0.000397  2016  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000404  2016  February
207932  179.375  88.5  0.000404  2016  February
207933  179.375  89.0  0.000404  2016  February
207934  179.375  89.5  0.000404  2016  February
207935  179.375  90.0  0.000405  2016  February

[207936 rows x 5 columns]

In [54]:
Mar_2016_df = pd.DataFrame(df_xco2_2016[2].unstack())
Mar_2016_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2016_df
Mar_2016_df = Mar_2016_df['xco2'].reset_index()
Mar_2016_df['Year'] = 2016
Mar_2016_df['Month'] = 'March'
Mar_2016_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000398  2016  March
1      -180.000 -89.5  0.000398  2016  March
2      -180.000 -89.0  0.000398  2016  March
3      -180.000 -88.5  0.000398  2016  March
4      -180.000 -88.0  0.000398  2016  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000405  2016  March
207932  179.375  88.5  0.000405  2016  March
207933  179.375  89.0  0.000405  2016  March
207934  179.375  89.5  0.000405  2016  March
207935  179.375  90.0  0.000405  2016  March

[207936 rows x 5 columns]

In [55]:
Apr_2016_df = pd.DataFrame(df_xco2_2016[3].unstack())
Apr_2016_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2016_df
Apr_2016_df = Apr_2016_df['xco2'].reset_index()
Apr_2016_df['Year'] = 2016
Apr_2016_df['Month'] = 'April'
Apr_2016_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000398  2016  April
1      -180.000 -89.5  0.000398  2016  April
2      -180.000 -89.0  0.000398  2016  April
3      -180.000 -88.5  0.000398  2016  April
4      -180.000 -88.0  0.000398  2016  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000405  2016  April
207932  179.375  88.5  0.000405  2016  April
207933  179.375  89.0  0.000405  2016  April
207934  179.375  89.5  0.000405  2016  April
207935  179.375  90.0  0.000405  2016  April

[207936 rows x 5 columns]

In [56]:
May_2016_df = pd.DataFrame(df_xco2_2016[4].unstack())
May_2016_df.rename(columns={0:'xco2'}, inplace = True)
May_2016_df
May_2016_df = May_2016_df['xco2'].reset_index()
May_2016_df['Year'] = 2016
May_2016_df['Month'] = 'May'
May_2016_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000398  2016   May
1      -180.000 -89.5  0.000398  2016   May
2      -180.000 -89.0  0.000398  2016   May
3      -180.000 -88.5  0.000398  2016   May
4      -180.000 -88.0  0.000398  2016   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000406  2016   May
207932  179.375  88.5  0.000406  2016   May
207933  179.375  89.0  0.000406  2016   May
207934  179.375  89.5  0.000406  2016   May
207935  179.375  90.0  0.000406  2016   May

[207936 rows x 5 columns]

In [57]:
Jun_2016_df = pd.DataFrame(df_xco2_2016[5].unstack())
Jun_2016_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2016_df
Jun_2016_df = Jun_2016_df['xco2'].reset_index()
Jun_2016_df['Year'] = 2016
Jun_2016_df['Month'] = 'June'
Jun_2016_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000399  2016  June
1      -180.000 -89.5  0.000399  2016  June
2      -180.000 -89.0  0.000399  2016  June
3      -180.000 -88.5  0.000399  2016  June
4      -180.000 -88.0  0.000399  2016  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000403  2016  June
207932  179.375  88.5  0.000403  2016  June
207933  179.375  89.0  0.000403  2016  June
207934  179.375  89.5  0.000403  2016  June
207935  179.375  90.0  0.000403  2016  June

[207936 rows x 5 columns]

In [58]:
Jul_2016_df = pd.DataFrame(df_xco2_2016[6].unstack())
Jul_2016_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2016_df
Jul_2016_df = Jul_2016_df['xco2'].reset_index()
Jul_2016_df['Year'] = 2016
Jul_2016_df['Month'] = 'July'
Jul_2016_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000399  2016  July
1      -180.000 -89.5  0.000399  2016  July
2      -180.000 -89.0  0.000399  2016  July
3      -180.000 -88.5  0.000399  2016  July
4      -180.000 -88.0  0.000399  2016  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000398  2016  July
207932  179.375  88.5  0.000398  2016  July
207933  179.375  89.0  0.000398  2016  July
207934  179.375  89.5  0.000398  2016  July
207935  179.375  90.0  0.000398  2016  July

[207936 rows x 5 columns]

In [59]:
Aug_2016_df = pd.DataFrame(df_xco2_2016[7].unstack())
Aug_2016_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2016_df
Aug_2016_df = Aug_2016_df['xco2'].reset_index()
Aug_2016_df['Year'] = 2016
Aug_2016_df['Month'] = 'August'
Aug_2016_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000400  2016  August
1      -180.000 -89.5  0.000400  2016  August
2      -180.000 -89.0  0.000400  2016  August
3      -180.000 -88.5  0.000400  2016  August
4      -180.000 -88.0  0.000400  2016  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000396  2016  August
207932  179.375  88.5  0.000396  2016  August
207933  179.375  89.0  0.000396  2016  August
207934  179.375  89.5  0.000396  2016  August
207935  179.375  90.0  0.000396  2016  August

[207936 rows x 5 columns]

In [60]:
Sept_2016_df = pd.DataFrame(df_xco2_2016[8].unstack())
Sept_2016_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2016_df
Sept_2016_df = Sept_2016_df['xco2'].reset_index()
Sept_2016_df['Year'] = 2016
Sept_2016_df['Month'] = 'September'
Sept_2016_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000400  2016  September
1      -180.000 -89.5  0.000400  2016  September
2      -180.000 -89.0  0.000400  2016  September
3      -180.000 -88.5  0.000400  2016  September
4      -180.000 -88.0  0.000400  2016  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000397  2016  September
207932  179.375  88.5  0.000397  2016  September
207933  179.375  89.0  0.000397  2016  September
207934  179.375  89.5  0.000397  2016  September
207935  179.375  90.0  0.000397  2016  September

[207936 rows x 5 columns]

In [61]:
Oct_2016_df = pd.DataFrame(df_xco2_2016[9].unstack())
Oct_2016_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2016_df
Oct_2016_df = Oct_2016_df['xco2'].reset_index()
Oct_2016_df['Year'] = 2016
Oct_2016_df['Month'] = 'October'
Oct_2016_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000400  2016  October
1      -180.000 -89.5  0.000400  2016  October
2      -180.000 -89.0  0.000400  2016  October
3      -180.000 -88.5  0.000400  2016  October
4      -180.000 -88.0  0.000400  2016  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000401  2016  October
207932  179.375  88.5  0.000401  2016  October
207933  179.375  89.0  0.000401  2016  October
207934  179.375  89.5  0.000401  2016  October
207935  179.375  90.0  0.000401  2016  October

[207936 rows x 5 columns]

In [62]:
Nov_2016_df = pd.DataFrame(df_xco2_2016[10].unstack())
Nov_2016_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2016_df
Nov_2016_df = Nov_2016_df['xco2'].reset_index()
Nov_2016_df['Year'] = 2016
Nov_2016_df['Month'] = 'November'
Nov_2016_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000400  2016  November
1      -180.000 -89.5  0.000400  2016  November
2      -180.000 -89.0  0.000400  2016  November
3      -180.000 -88.5  0.000400  2016  November
4      -180.000 -88.0  0.000400  2016  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000403  2016  November
207932  179.375  88.5  0.000403  2016  November
207933  179.375  89.0  0.000403  2016  November
207934  179.375  89.5  0.000403  2016  November
207935  179.375  90.0  0.000403  2016  November

[207936 rows x 5 columns]

In [63]:
Dec_2016_df = pd.DataFrame(df_xco2_2016[11].unstack())
Dec_2016_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2016_df
Dec_2016_df = Dec_2016_df['xco2'].reset_index()
Dec_2016_df['Year'] = 2016
Dec_2016_df['Month'] = 'December'
Dec_2016_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000400  2016  December
1      -180.000 -89.5  0.000400  2016  December
2      -180.000 -89.0  0.000400  2016  December
3      -180.000 -88.5  0.000400  2016  December
4      -180.000 -88.0  0.000400  2016  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000405  2016  December
207932  179.375  88.5  0.000405  2016  December
207933  179.375  89.0  0.000405  2016  December
207934  179.375  89.5  0.000405  2016  December
207935  179.375  90.0  0.000405  2016  December

[207936 rows x 5 columns]

In [64]:
pd_List = [Jan_2016_df, Feb_2016_df, Mar_2016_df, Apr_2016_df, May_2016_df, Jun_2016_df, Jul_2016_df, Aug_2016_df, 
           Sept_2016_df, Oct_2016_df, Nov_2016_df, Dec_2016_df]
df_L3_2016 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2016['xco2'] = df_L3_2016['xco2'] * 1e6
df_L3_2016.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2016

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  397.302119  2016   January
1        -180.000     -89.5  397.284312  2016   January
2        -180.000     -89.0  397.257773  2016   January
3        -180.000     -88.5  397.233451  2016   January
4        -180.000     -88.0  397.230202  2016   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  405.407974  2016  December
207932    179.375      88.5  405.414044  2016  December
207933    179.375      89.0  405.410328  2016  December
207934    179.375      89.5  405.394032  2016  December
207935    179.375      90.0  405.371431  2016  December

[2495232 rows x 5 columns]

In [65]:
## Convert to csv
df_L3_2016.to_csv('Xco2_L3_2016.csv', index = None)

In [66]:
pd.read_csv('Xco2_L3_2016.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  397.302119  2016   January
1         -180.000     -89.5  397.284312  2016   January
2         -180.000     -89.0  397.257773  2016   January
3         -180.000     -88.5  397.233451  2016   January
4         -180.000     -88.0  397.230202  2016   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  405.407974  2016  December
2495228    179.375      88.5  405.414044  2016  December
2495229    179.375      89.0  405.410328  2016  December
2495230    179.375      89.5  405.394032  2016  December
2495231    179.375      90.0  405.371431  2016  December

[2495232 rows x 5 columns]

## 2017

In [67]:
%time
data_xco2_2017 = []

for i in range(24, 36):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2017.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [68]:
list(data_xco2_2017[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [69]:
df_xr_2017 = []

for i in range(24, 36):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2017.append(df_xr)

In [70]:
df_xr_2017[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2017-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2017-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2017-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-03-15T12:04:44Z
    History:                        Original file generated: Tue Mar 15 12:04...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [71]:
df_xco2_2017 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2017[i]["XCO2"][0].to_pandas()
    
    df_xco2_2017.append(df)
    
df_xco2_2017

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  88.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  89.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  89.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  90.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  88.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  89.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  89.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
  90.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
  90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  ...  0.000400  0.000400  0.000400
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -89.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.5  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 -88.0  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400  0.000400
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  90.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  ...  0.000400  0.000400  0.000400
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  90.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.0  0.000400  0.000400  0.000401  0.000401  0.000401  0.000401  0.000401
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  90.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  88.5  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  89.0  0.000401  0.000401  0.000401  ...  0.000401  0.000401  0.000401
  89.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
  90.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
  89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
  90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -89.0  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401
 -88.5  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401  0.000401

In [72]:
Jan_2017_df = pd.DataFrame(df_xco2_2017[0].unstack())
Jan_2017_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2017_df
Jan_2017_df = Jan_2017_df['xco2'].reset_index()
Jan_2017_df['Year'] = 2017
Jan_2017_df['Month'] = 'January'
Jan_2017_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000400  2017  January
1      -180.000 -89.5  0.000400  2017  January
2      -180.000 -89.0  0.000400  2017  January
3      -180.000 -88.5  0.000400  2017  January
4      -180.000 -88.0  0.000400  2017  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000407  2017  January
207932  179.375  88.5  0.000407  2017  January
207933  179.375  89.0  0.000407  2017  January
207934  179.375  89.5  0.000407  2017  January
207935  179.375  90.0  0.000407  2017  January

[207936 rows x 5 columns]

In [73]:
Feb_2017_df = pd.DataFrame(df_xco2_2017[1].unstack())
Feb_2017_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2017_df
Feb_2017_df = Feb_2017_df['xco2'].reset_index()
Feb_2017_df['Year'] = 2017
Feb_2017_df['Month'] = 'February'
Feb_2017_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000400  2017  February
1      -180.000 -89.5  0.000400  2017  February
2      -180.000 -89.0  0.000400  2017  February
3      -180.000 -88.5  0.000400  2017  February
4      -180.000 -88.0  0.000400  2017  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000407  2017  February
207932  179.375  88.5  0.000407  2017  February
207933  179.375  89.0  0.000407  2017  February
207934  179.375  89.5  0.000407  2017  February
207935  179.375  90.0  0.000407  2017  February

[207936 rows x 5 columns]

In [74]:
Mar_2017_df = pd.DataFrame(df_xco2_2017[2].unstack())
Mar_2017_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2017_df
Mar_2017_df = Mar_2017_df['xco2'].reset_index()
Mar_2017_df['Year'] = 2017
Mar_2017_df['Month'] = 'March'
Mar_2017_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000400  2017  March
1      -180.000 -89.5  0.000400  2017  March
2      -180.000 -89.0  0.000400  2017  March
3      -180.000 -88.5  0.000400  2017  March
4      -180.000 -88.0  0.000400  2017  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000408  2017  March
207932  179.375  88.5  0.000408  2017  March
207933  179.375  89.0  0.000408  2017  March
207934  179.375  89.5  0.000408  2017  March
207935  179.375  90.0  0.000408  2017  March

[207936 rows x 5 columns]

In [75]:
Apr_2017_df = pd.DataFrame(df_xco2_2017[3].unstack())
Apr_2017_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2017_df
Apr_2017_df = Apr_2017_df['xco2'].reset_index()
Apr_2017_df['Year'] = 2017
Apr_2017_df['Month'] = 'April'
Apr_2017_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000400  2017  April
1      -180.000 -89.5  0.000400  2017  April
2      -180.000 -89.0  0.000400  2017  April
3      -180.000 -88.5  0.000400  2017  April
4      -180.000 -88.0  0.000400  2017  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000409  2017  April
207932  179.375  88.5  0.000409  2017  April
207933  179.375  89.0  0.000409  2017  April
207934  179.375  89.5  0.000409  2017  April
207935  179.375  90.0  0.000408  2017  April

[207936 rows x 5 columns]

In [76]:
May_2017_df = pd.DataFrame(df_xco2_2017[4].unstack())
May_2017_df.rename(columns={0:'xco2'}, inplace = True)
May_2017_df
May_2017_df = May_2017_df['xco2'].reset_index()
May_2017_df['Year'] = 2017
May_2017_df['Month'] = 'May'
May_2017_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000401  2017   May
1      -180.000 -89.5  0.000401  2017   May
2      -180.000 -89.0  0.000401  2017   May
3      -180.000 -88.5  0.000401  2017   May
4      -180.000 -88.0  0.000401  2017   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000409  2017   May
207932  179.375  88.5  0.000409  2017   May
207933  179.375  89.0  0.000409  2017   May
207934  179.375  89.5  0.000409  2017   May
207935  179.375  90.0  0.000409  2017   May

[207936 rows x 5 columns]

In [77]:
Jun_2017_df = pd.DataFrame(df_xco2_2017[5].unstack())
Jun_2017_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2017_df
Jun_2017_df = Jun_2017_df['xco2'].reset_index()
Jun_2017_df['Year'] = 2017
Jun_2017_df['Month'] = 'June'
Jun_2017_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000401  2017  June
1      -180.000 -89.5  0.000401  2017  June
2      -180.000 -89.0  0.000401  2017  June
3      -180.000 -88.5  0.000401  2017  June
4      -180.000 -88.0  0.000401  2017  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000406  2017  June
207932  179.375  88.5  0.000406  2017  June
207933  179.375  89.0  0.000406  2017  June
207934  179.375  89.5  0.000406  2017  June
207935  179.375  90.0  0.000406  2017  June

[207936 rows x 5 columns]

In [78]:
Jul_2017_df = pd.DataFrame(df_xco2_2017[6].unstack())
Jul_2017_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2017_df
Jul_2017_df = Jul_2017_df['xco2'].reset_index()
Jul_2017_df['Year'] = 2017
Jul_2017_df['Month'] = 'July'
Jul_2017_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000401  2017  July
1      -180.000 -89.5  0.000401  2017  July
2      -180.000 -89.0  0.000401  2017  July
3      -180.000 -88.5  0.000401  2017  July
4      -180.000 -88.0  0.000401  2017  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000401  2017  July
207932  179.375  88.5  0.000401  2017  July
207933  179.375  89.0  0.000401  2017  July
207934  179.375  89.5  0.000402  2017  July
207935  179.375  90.0  0.000402  2017  July

[207936 rows x 5 columns]

In [79]:
Aug_2017_df = pd.DataFrame(df_xco2_2017[7].unstack())
Aug_2017_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2017_df
Aug_2017_df = Aug_2017_df['xco2'].reset_index()
Aug_2017_df['Year'] = 2017
Aug_2017_df['Month'] = 'August'
Aug_2017_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000401  2017  August
1      -180.000 -89.5  0.000401  2017  August
2      -180.000 -89.0  0.000401  2017  August
3      -180.000 -88.5  0.000401  2017  August
4      -180.000 -88.0  0.000401  2017  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000399  2017  August
207932  179.375  88.5  0.000399  2017  August
207933  179.375  89.0  0.000399  2017  August
207934  179.375  89.5  0.000399  2017  August
207935  179.375  90.0  0.000399  2017  August

[207936 rows x 5 columns]

In [80]:
Sept_2017_df = pd.DataFrame(df_xco2_2017[8].unstack())
Sept_2017_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2017_df
Sept_2017_df = Sept_2017_df['xco2'].reset_index()
Sept_2017_df['Year'] = 2017
Sept_2017_df['Month'] = 'September'
Sept_2017_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000402  2017  September
1      -180.000 -89.5  0.000402  2017  September
2      -180.000 -89.0  0.000402  2017  September
3      -180.000 -88.5  0.000402  2017  September
4      -180.000 -88.0  0.000402  2017  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000399  2017  September
207932  179.375  88.5  0.000399  2017  September
207933  179.375  89.0  0.000399  2017  September
207934  179.375  89.5  0.000399  2017  September
207935  179.375  90.0  0.000399  2017  September

[207936 rows x 5 columns]

In [81]:
Oct_2017_df = pd.DataFrame(df_xco2_2017[9].unstack())
Oct_2017_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2017_df
Oct_2017_df = Oct_2017_df['xco2'].reset_index()
Oct_2017_df['Year'] = 2017
Oct_2017_df['Month'] = 'October'
Oct_2017_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000402  2017  October
1      -180.000 -89.5  0.000402  2017  October
2      -180.000 -89.0  0.000402  2017  October
3      -180.000 -88.5  0.000402  2017  October
4      -180.000 -88.0  0.000402  2017  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000403  2017  October
207932  179.375  88.5  0.000403  2017  October
207933  179.375  89.0  0.000403  2017  October
207934  179.375  89.5  0.000403  2017  October
207935  179.375  90.0  0.000403  2017  October

[207936 rows x 5 columns]

In [82]:
Nov_2017_df = pd.DataFrame(df_xco2_2017[10].unstack())
Nov_2017_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2017_df
Nov_2017_df = Nov_2017_df['xco2'].reset_index()
Nov_2017_df['Year'] = 2017
Nov_2017_df['Month'] = 'November'
Nov_2017_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000402  2017  November
1      -180.000 -89.5  0.000402  2017  November
2      -180.000 -89.0  0.000402  2017  November
3      -180.000 -88.5  0.000402  2017  November
4      -180.000 -88.0  0.000402  2017  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000406  2017  November
207932  179.375  88.5  0.000406  2017  November
207933  179.375  89.0  0.000406  2017  November
207934  179.375  89.5  0.000406  2017  November
207935  179.375  90.0  0.000406  2017  November

[207936 rows x 5 columns]

In [83]:
Dec_2017_df = pd.DataFrame(df_xco2_2017[11].unstack())
Dec_2017_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2017_df
Dec_2017_df = Dec_2017_df['xco2'].reset_index()
Dec_2017_df['Year'] = 2017
Dec_2017_df['Month'] = 'December'
Dec_2017_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000402  2017  December
1      -180.000 -89.5  0.000402  2017  December
2      -180.000 -89.0  0.000402  2017  December
3      -180.000 -88.5  0.000402  2017  December
4      -180.000 -88.0  0.000402  2017  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000407  2017  December
207932  179.375  88.5  0.000407  2017  December
207933  179.375  89.0  0.000407  2017  December
207934  179.375  89.5  0.000407  2017  December
207935  179.375  90.0  0.000407  2017  December

[207936 rows x 5 columns]

In [84]:
pd_List = [Jan_2017_df, Feb_2017_df, Mar_2017_df, Apr_2017_df, May_2017_df, Jun_2017_df, Jul_2017_df, Aug_2017_df, 
           Sept_2017_df, Oct_2017_df, Nov_2017_df, Dec_2017_df]
df_L3_2017 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2017['xco2'] = df_L3_2017['xco2'] * 1e6
df_L3_2017.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2017

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  400.244286  2017   January
1        -180.000     -89.5  400.228682  2017   January
2        -180.000     -89.0  400.209503  2017   January
3        -180.000     -88.5  400.189881  2017   January
4        -180.000     -88.0  400.182038  2017   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  407.403092  2017  December
207932    179.375      88.5  407.386127  2017  December
207933    179.375      89.0  407.369584  2017  December
207934    179.375      89.5  407.347471  2017  December
207935    179.375      90.0  407.331127  2017  December

[2495232 rows x 5 columns]

In [85]:
## Convert to csv
df_L3_2017.to_csv('Xco2_L3_2017.csv', index = None)

In [86]:
pd.read_csv('Xco2_L3_2017.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  400.244286  2017   January
1         -180.000     -89.5  400.228682  2017   January
2         -180.000     -89.0  400.209503  2017   January
3         -180.000     -88.5  400.189881  2017   January
4         -180.000     -88.0  400.182038  2017   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  407.403092  2017  December
2495228    179.375      88.5  407.386127  2017  December
2495229    179.375      89.0  407.369584  2017  December
2495230    179.375      89.5  407.347471  2017  December
2495231    179.375      90.0  407.331127  2017  December

[2495232 rows x 5 columns]

## 2018

In [87]:
%time
data_xco2_2018 = []

for i in range(36, 48):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2018.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [88]:
list(data_xco2_2018[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [89]:
df_xr_2018 = []

for i in range(36, 48):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2018.append(df_xr)

In [90]:
df_xr_2018[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2018-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2018-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2018-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-03-15T12:11:59Z
    History:                        Original file generated: Tue Mar 15 12:11...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [91]:
df_xco2_2018 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2018[i]["XCO2"][0].to_pandas()
    
    df_xco2_2018.append(df)
    
df_xco2_2018

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  90.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
  90.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
  90.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -89.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.5  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  ...  0.000402  0.000402  0.000402
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 -88.0  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402  0.000402
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  ...  0.000403  0.000403  0.000403
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
  90.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -89.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.5  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 -88.0  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403  0.000403
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
  90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404

In [92]:
Jan_2018_df = pd.DataFrame(df_xco2_2018[0].unstack())
Jan_2018_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2018_df
Jan_2018_df = Jan_2018_df['xco2'].reset_index()
Jan_2018_df['Year'] = 2018
Jan_2018_df['Month'] = 'January'
Jan_2018_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000402  2018  January
1      -180.000 -89.5  0.000402  2018  January
2      -180.000 -89.0  0.000402  2018  January
3      -180.000 -88.5  0.000402  2018  January
4      -180.000 -88.0  0.000402  2018  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000408  2018  January
207932  179.375  88.5  0.000408  2018  January
207933  179.375  89.0  0.000408  2018  January
207934  179.375  89.5  0.000408  2018  January
207935  179.375  90.0  0.000408  2018  January

[207936 rows x 5 columns]

In [93]:
Feb_2018_df = pd.DataFrame(df_xco2_2018[1].unstack())
Feb_2018_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2018_df
Feb_2018_df = Feb_2018_df['xco2'].reset_index()
Feb_2018_df['Year'] = 2018
Feb_2018_df['Month'] = 'February'
Feb_2018_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000402  2018  February
1      -180.000 -89.5  0.000402  2018  February
2      -180.000 -89.0  0.000402  2018  February
3      -180.000 -88.5  0.000402  2018  February
4      -180.000 -88.0  0.000402  2018  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000409  2018  February
207932  179.375  88.5  0.000409  2018  February
207933  179.375  89.0  0.000409  2018  February
207934  179.375  89.5  0.000409  2018  February
207935  179.375  90.0  0.000409  2018  February

[207936 rows x 5 columns]

In [94]:
Mar_2018_df = pd.DataFrame(df_xco2_2018[2].unstack())
Mar_2018_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2018_df
Mar_2018_df = Mar_2018_df['xco2'].reset_index()
Mar_2018_df['Year'] = 2018
Mar_2018_df['Month'] = 'March'
Mar_2018_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000402  2018  March
1      -180.000 -89.5  0.000402  2018  March
2      -180.000 -89.0  0.000402  2018  March
3      -180.000 -88.5  0.000402  2018  March
4      -180.000 -88.0  0.000402  2018  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000410  2018  March
207932  179.375  88.5  0.000410  2018  March
207933  179.375  89.0  0.000410  2018  March
207934  179.375  89.5  0.000410  2018  March
207935  179.375  90.0  0.000410  2018  March

[207936 rows x 5 columns]

In [95]:
Apr_2018_df = pd.DataFrame(df_xco2_2018[3].unstack())
Apr_2018_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2018_df
Apr_2018_df = Apr_2018_df['xco2'].reset_index()
Apr_2018_df['Year'] = 2018
Apr_2018_df['Month'] = 'April'
Apr_2018_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000403  2018  April
1      -180.000 -89.5  0.000403  2018  April
2      -180.000 -89.0  0.000403  2018  April
3      -180.000 -88.5  0.000402  2018  April
4      -180.000 -88.0  0.000402  2018  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000411  2018  April
207932  179.375  88.5  0.000411  2018  April
207933  179.375  89.0  0.000411  2018  April
207934  179.375  89.5  0.000411  2018  April
207935  179.375  90.0  0.000411  2018  April

[207936 rows x 5 columns]

In [96]:
May_2018_df = pd.DataFrame(df_xco2_2018[4].unstack())
May_2018_df.rename(columns={0:'xco2'}, inplace = True)
May_2018_df
May_2018_df = May_2018_df['xco2'].reset_index()
May_2018_df['Year'] = 2018
May_2018_df['Month'] = 'May'
May_2018_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000403  2018   May
1      -180.000 -89.5  0.000403  2018   May
2      -180.000 -89.0  0.000403  2018   May
3      -180.000 -88.5  0.000403  2018   May
4      -180.000 -88.0  0.000403  2018   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000411  2018   May
207932  179.375  88.5  0.000411  2018   May
207933  179.375  89.0  0.000411  2018   May
207934  179.375  89.5  0.000411  2018   May
207935  179.375  90.0  0.000411  2018   May

[207936 rows x 5 columns]

In [97]:
Jun_2018_df = pd.DataFrame(df_xco2_2018[5].unstack())
Jun_2018_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2018_df
Jun_2018_df = Jun_2018_df['xco2'].reset_index()
Jun_2018_df['Year'] = 2018
Jun_2018_df['Month'] = 'June'
Jun_2018_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000403  2018  June
1      -180.000 -89.5  0.000403  2018  June
2      -180.000 -89.0  0.000403  2018  June
3      -180.000 -88.5  0.000403  2018  June
4      -180.000 -88.0  0.000403  2018  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000408  2018  June
207932  179.375  88.5  0.000408  2018  June
207933  179.375  89.0  0.000408  2018  June
207934  179.375  89.5  0.000408  2018  June
207935  179.375  90.0  0.000408  2018  June

[207936 rows x 5 columns]

In [98]:
Jul_2018_df = pd.DataFrame(df_xco2_2018[6].unstack())
Jul_2018_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2018_df
Jul_2018_df = Jul_2018_df['xco2'].reset_index()
Jul_2018_df['Year'] = 2018
Jul_2018_df['Month'] = 'July'
Jul_2018_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000403  2018  July
1      -180.000 -89.5  0.000403  2018  July
2      -180.000 -89.0  0.000403  2018  July
3      -180.000 -88.5  0.000403  2018  July
4      -180.000 -88.0  0.000403  2018  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000404  2018  July
207932  179.375  88.5  0.000404  2018  July
207933  179.375  89.0  0.000404  2018  July
207934  179.375  89.5  0.000404  2018  July
207935  179.375  90.0  0.000404  2018  July

[207936 rows x 5 columns]

In [99]:
Aug_2018_df = pd.DataFrame(df_xco2_2018[7].unstack())
Aug_2018_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2018_df
Aug_2018_df = Aug_2018_df['xco2'].reset_index()
Aug_2018_df['Year'] = 2018
Aug_2018_df['Month'] = 'August'
Aug_2018_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000404  2018  August
1      -180.000 -89.5  0.000404  2018  August
2      -180.000 -89.0  0.000404  2018  August
3      -180.000 -88.5  0.000404  2018  August
4      -180.000 -88.0  0.000404  2018  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000401  2018  August
207932  179.375  88.5  0.000401  2018  August
207933  179.375  89.0  0.000401  2018  August
207934  179.375  89.5  0.000401  2018  August
207935  179.375  90.0  0.000401  2018  August

[207936 rows x 5 columns]

In [100]:
Sept_2018_df = pd.DataFrame(df_xco2_2018[8].unstack())
Sept_2018_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2018_df
Sept_2018_df = Sept_2018_df['xco2'].reset_index()
Sept_2018_df['Year'] = 2018
Sept_2018_df['Month'] = 'September'
Sept_2018_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000404  2018  September
1      -180.000 -89.5  0.000404  2018  September
2      -180.000 -89.0  0.000404  2018  September
3      -180.000 -88.5  0.000404  2018  September
4      -180.000 -88.0  0.000404  2018  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000402  2018  September
207932  179.375  88.5  0.000402  2018  September
207933  179.375  89.0  0.000402  2018  September
207934  179.375  89.5  0.000402  2018  September
207935  179.375  90.0  0.000402  2018  September

[207936 rows x 5 columns]

In [101]:
Oct_2018_df = pd.DataFrame(df_xco2_2018[9].unstack())
Oct_2018_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2018_df
Oct_2018_df = Oct_2018_df['xco2'].reset_index()
Oct_2018_df['Year'] = 2018
Oct_2018_df['Month'] = 'October'
Oct_2018_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000404  2018  October
1      -180.000 -89.5  0.000404  2018  October
2      -180.000 -89.0  0.000404  2018  October
3      -180.000 -88.5  0.000404  2018  October
4      -180.000 -88.0  0.000404  2018  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000405  2018  October
207932  179.375  88.5  0.000405  2018  October
207933  179.375  89.0  0.000405  2018  October
207934  179.375  89.5  0.000405  2018  October
207935  179.375  90.0  0.000405  2018  October

[207936 rows x 5 columns]

In [102]:
Nov_2018_df = pd.DataFrame(df_xco2_2018[10].unstack())
Nov_2018_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2018_df
Nov_2018_df = Nov_2018_df['xco2'].reset_index()
Nov_2018_df['Year'] = 2018
Nov_2018_df['Month'] = 'November'
Nov_2018_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000404  2018  November
1      -180.000 -89.5  0.000404  2018  November
2      -180.000 -89.0  0.000404  2018  November
3      -180.000 -88.5  0.000404  2018  November
4      -180.000 -88.0  0.000404  2018  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000408  2018  November
207932  179.375  88.5  0.000408  2018  November
207933  179.375  89.0  0.000408  2018  November
207934  179.375  89.5  0.000408  2018  November
207935  179.375  90.0  0.000408  2018  November

[207936 rows x 5 columns]

In [103]:
Dec_2018_df = pd.DataFrame(df_xco2_2018[11].unstack())
Dec_2018_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2018_df
Dec_2018_df = Dec_2018_df['xco2'].reset_index()
Dec_2018_df['Year'] = 2018
Dec_2018_df['Month'] = 'December'
Dec_2018_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000404  2018  December
1      -180.000 -89.5  0.000404  2018  December
2      -180.000 -89.0  0.000404  2018  December
3      -180.000 -88.5  0.000404  2018  December
4      -180.000 -88.0  0.000404  2018  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000410  2018  December
207932  179.375  88.5  0.000410  2018  December
207933  179.375  89.0  0.000410  2018  December
207934  179.375  89.5  0.000410  2018  December
207935  179.375  90.0  0.000410  2018  December

[207936 rows x 5 columns]

In [104]:
pd_List = [Jan_2018_df, Feb_2018_df, Mar_2018_df, Apr_2018_df, May_2018_df, Jun_2018_df, Jul_2018_df, Aug_2018_df, 
           Sept_2018_df, Oct_2018_df, Nov_2018_df, Dec_2018_df]
df_L3_2018 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2018['xco2'] = df_L3_2018['xco2'] * 1e6
df_L3_2018.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2018

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  402.333900  2018   January
1        -180.000     -89.5  402.308651  2018   January
2        -180.000     -89.0  402.275578  2018   January
3        -180.000     -88.5  402.256588  2018   January
4        -180.000     -88.0  402.278276  2018   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  409.999824  2018  December
207932    179.375      88.5  410.010921  2018  December
207933    179.375      89.0  409.999631  2018  December
207934    179.375      89.5  409.977863  2018  December
207935    179.375      90.0  409.954578  2018  December

[2495232 rows x 5 columns]

In [105]:
## Convert to csv
df_L3_2018.to_csv('Xco2_L3_2018.csv', index = None)

In [106]:
pd.read_csv('Xco2_L3_2018.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  402.333900  2018   January
1         -180.000     -89.5  402.308651  2018   January
2         -180.000     -89.0  402.275578  2018   January
3         -180.000     -88.5  402.256588  2018   January
4         -180.000     -88.0  402.278276  2018   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  409.999824  2018  December
2495228    179.375      88.5  410.010921  2018  December
2495229    179.375      89.0  409.999631  2018  December
2495230    179.375      89.5  409.977863  2018  December
2495231    179.375      90.0  409.954578  2018  December

[2495232 rows x 5 columns]

## 2019

In [107]:
%time
data_xco2_2019 = []

for i in range(48, 60):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2019.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [108]:
list(data_xco2_2019[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [109]:
df_xr_2019 = []

for i in range(48, 60):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2019.append(df_xr)

In [110]:
df_xr_2019[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2019-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2019-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2019-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-03-15T12:17:22Z
    History:                        Original file generated: Tue Mar 15 12:17...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [111]:
df_xco2_2019 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2019[i]["XCO2"][0].to_pandas()
    
    df_xco2_2019.append(df)
    
df_xco2_2019

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
 -89.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
 -89.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
 -88.5  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
 -88.0  0.000404  0.000404  0.000404  ...  0.000404  0.000404  0.000404
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -89.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -89.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -88.5  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 -88.0  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404  0.000404
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  89.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  89.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  90.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
  88.5  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
  89.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
  89.5  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
  90.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  89.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  89.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  90.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  88.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  88.5  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  88.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  88.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  88.5  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  88.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  ...  0.000405  0.000405  0.000405
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
  90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -89.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.5  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 -88.0  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405  0.000405
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
  90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
 -89.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
 -89.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
 -88.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
 -88.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  ...  0.000406  0.000406  0.000406

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
  90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -89.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -89.0  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406
 -88.5  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406  0.000406

In [112]:
Jan_2019_df = pd.DataFrame(df_xco2_2019[0].unstack())
Jan_2019_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2019_df
Jan_2019_df = Jan_2019_df['xco2'].reset_index()
Jan_2019_df['Year'] = 2019
Jan_2019_df['Month'] = 'January'
Jan_2019_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000404  2019  January
1      -180.000 -89.5  0.000404  2019  January
2      -180.000 -89.0  0.000404  2019  January
3      -180.000 -88.5  0.000404  2019  January
4      -180.000 -88.0  0.000404  2019  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000411  2019  January
207932  179.375  88.5  0.000411  2019  January
207933  179.375  89.0  0.000411  2019  January
207934  179.375  89.5  0.000411  2019  January
207935  179.375  90.0  0.000411  2019  January

[207936 rows x 5 columns]

In [113]:
Feb_2019_df = pd.DataFrame(df_xco2_2019[1].unstack())
Feb_2019_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2019_df
Feb_2019_df = Feb_2019_df['xco2'].reset_index()
Feb_2019_df['Year'] = 2019
Feb_2019_df['Month'] = 'February'
Feb_2019_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000405  2019  February
1      -180.000 -89.5  0.000405  2019  February
2      -180.000 -89.0  0.000405  2019  February
3      -180.000 -88.5  0.000405  2019  February
4      -180.000 -88.0  0.000405  2019  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000411  2019  February
207932  179.375  88.5  0.000411  2019  February
207933  179.375  89.0  0.000411  2019  February
207934  179.375  89.5  0.000411  2019  February
207935  179.375  90.0  0.000411  2019  February

[207936 rows x 5 columns]

In [114]:
Mar_2019_df = pd.DataFrame(df_xco2_2019[2].unstack())
Mar_2019_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2019_df
Mar_2019_df = Mar_2019_df['xco2'].reset_index()
Mar_2019_df['Year'] = 2019
Mar_2019_df['Month'] = 'March'
Mar_2019_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000405  2019  March
1      -180.000 -89.5  0.000405  2019  March
2      -180.000 -89.0  0.000405  2019  March
3      -180.000 -88.5  0.000405  2019  March
4      -180.000 -88.0  0.000405  2019  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000412  2019  March
207932  179.375  88.5  0.000412  2019  March
207933  179.375  89.0  0.000412  2019  March
207934  179.375  89.5  0.000412  2019  March
207935  179.375  90.0  0.000412  2019  March

[207936 rows x 5 columns]

In [115]:
Apr_2019_df = pd.DataFrame(df_xco2_2019[3].unstack())
Apr_2019_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2019_df
Apr_2019_df = Apr_2019_df['xco2'].reset_index()
Apr_2019_df['Year'] = 2019
Apr_2019_df['Month'] = 'April'
Apr_2019_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000405  2019  April
1      -180.000 -89.5  0.000405  2019  April
2      -180.000 -89.0  0.000405  2019  April
3      -180.000 -88.5  0.000405  2019  April
4      -180.000 -88.0  0.000405  2019  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000413  2019  April
207932  179.375  88.5  0.000413  2019  April
207933  179.375  89.0  0.000413  2019  April
207934  179.375  89.5  0.000413  2019  April
207935  179.375  90.0  0.000413  2019  April

[207936 rows x 5 columns]

In [116]:
May_2019_df = pd.DataFrame(df_xco2_2019[4].unstack())
May_2019_df.rename(columns={0:'xco2'}, inplace = True)
May_2019_df
May_2019_df = May_2019_df['xco2'].reset_index()
May_2019_df['Year'] = 2019
May_2019_df['Month'] = 'May'
May_2019_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000405  2019   May
1      -180.000 -89.5  0.000405  2019   May
2      -180.000 -89.0  0.000405  2019   May
3      -180.000 -88.5  0.000405  2019   May
4      -180.000 -88.0  0.000405  2019   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000413  2019   May
207932  179.375  88.5  0.000413  2019   May
207933  179.375  89.0  0.000413  2019   May
207934  179.375  89.5  0.000413  2019   May
207935  179.375  90.0  0.000413  2019   May

[207936 rows x 5 columns]

In [117]:
Jun_2019_df = pd.DataFrame(df_xco2_2019[5].unstack())
Jun_2019_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2019_df
Jun_2019_df = Jun_2019_df['xco2'].reset_index()
Jun_2019_df['Year'] = 2019
Jun_2019_df['Month'] = 'June'
Jun_2019_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000405  2019  June
1      -180.000 -89.5  0.000405  2019  June
2      -180.000 -89.0  0.000405  2019  June
3      -180.000 -88.5  0.000405  2019  June
4      -180.000 -88.0  0.000405  2019  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000410  2019  June
207932  179.375  88.5  0.000410  2019  June
207933  179.375  89.0  0.000410  2019  June
207934  179.375  89.5  0.000410  2019  June
207935  179.375  90.0  0.000410  2019  June

[207936 rows x 5 columns]

In [118]:
Jul_2019_df = pd.DataFrame(df_xco2_2019[6].unstack())
Jul_2019_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2019_df
Jul_2019_df = Jul_2019_df['xco2'].reset_index()
Jul_2019_df['Year'] = 2019
Jul_2019_df['Month'] = 'July'
Jul_2019_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000406  2019  July
1      -180.000 -89.5  0.000406  2019  July
2      -180.000 -89.0  0.000406  2019  July
3      -180.000 -88.5  0.000406  2019  July
4      -180.000 -88.0  0.000406  2019  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000406  2019  July
207932  179.375  88.5  0.000406  2019  July
207933  179.375  89.0  0.000406  2019  July
207934  179.375  89.5  0.000406  2019  July
207935  179.375  90.0  0.000406  2019  July

[207936 rows x 5 columns]

In [119]:
Aug_2019_df = pd.DataFrame(df_xco2_2019[7].unstack())
Aug_2019_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2019_df
Aug_2019_df = Aug_2019_df['xco2'].reset_index()
Aug_2019_df['Year'] = 2019
Aug_2019_df['Month'] = 'August'
Aug_2019_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000406  2019  August
1      -180.000 -89.5  0.000406  2019  August
2      -180.000 -89.0  0.000406  2019  August
3      -180.000 -88.5  0.000406  2019  August
4      -180.000 -88.0  0.000406  2019  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000404  2019  August
207932  179.375  88.5  0.000404  2019  August
207933  179.375  89.0  0.000404  2019  August
207934  179.375  89.5  0.000404  2019  August
207935  179.375  90.0  0.000404  2019  August

[207936 rows x 5 columns]

In [120]:
Sept_2019_df = pd.DataFrame(df_xco2_2019[8].unstack())
Sept_2019_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2019_df
Sept_2019_df = Sept_2019_df['xco2'].reset_index()
Sept_2019_df['Year'] = 2019
Sept_2019_df['Month'] = 'September'
Sept_2019_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000407  2019  September
1      -180.000 -89.5  0.000406  2019  September
2      -180.000 -89.0  0.000406  2019  September
3      -180.000 -88.5  0.000406  2019  September
4      -180.000 -88.0  0.000406  2019  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000404  2019  September
207932  179.375  88.5  0.000404  2019  September
207933  179.375  89.0  0.000404  2019  September
207934  179.375  89.5  0.000404  2019  September
207935  179.375  90.0  0.000404  2019  September

[207936 rows x 5 columns]

In [121]:
Oct_2019_df = pd.DataFrame(df_xco2_2019[9].unstack())
Oct_2019_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2019_df
Oct_2019_df = Oct_2019_df['xco2'].reset_index()
Oct_2019_df['Year'] = 2019
Oct_2019_df['Month'] = 'October'
Oct_2019_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000407  2019  October
1      -180.000 -89.5  0.000407  2019  October
2      -180.000 -89.0  0.000407  2019  October
3      -180.000 -88.5  0.000407  2019  October
4      -180.000 -88.0  0.000407  2019  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000407  2019  October
207932  179.375  88.5  0.000407  2019  October
207933  179.375  89.0  0.000407  2019  October
207934  179.375  89.5  0.000407  2019  October
207935  179.375  90.0  0.000407  2019  October

[207936 rows x 5 columns]

In [122]:
Nov_2019_df = pd.DataFrame(df_xco2_2019[10].unstack())
Nov_2019_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2019_df
Nov_2019_df = Nov_2019_df['xco2'].reset_index()
Nov_2019_df['Year'] = 2019
Nov_2019_df['Month'] = 'November'
Nov_2019_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000407  2019  November
1      -180.000 -89.5  0.000407  2019  November
2      -180.000 -89.0  0.000407  2019  November
3      -180.000 -88.5  0.000407  2019  November
4      -180.000 -88.0  0.000407  2019  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000410  2019  November
207932  179.375  88.5  0.000410  2019  November
207933  179.375  89.0  0.000410  2019  November
207934  179.375  89.5  0.000410  2019  November
207935  179.375  90.0  0.000410  2019  November

[207936 rows x 5 columns]

In [123]:
Dec_2019_df = pd.DataFrame(df_xco2_2019[11].unstack())
Dec_2019_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2019_df
Dec_2019_df = Dec_2019_df['xco2'].reset_index()
Dec_2019_df['Year'] = 2019
Dec_2019_df['Month'] = 'December'
Dec_2019_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000407  2019  December
1      -180.000 -89.5  0.000407  2019  December
2      -180.000 -89.0  0.000407  2019  December
3      -180.000 -88.5  0.000407  2019  December
4      -180.000 -88.0  0.000407  2019  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000412  2019  December
207932  179.375  88.5  0.000412  2019  December
207933  179.375  89.0  0.000412  2019  December
207934  179.375  89.5  0.000412  2019  December
207935  179.375  90.0  0.000412  2019  December

[207936 rows x 5 columns]

In [124]:
pd_List = [Jan_2019_df, Feb_2019_df, Mar_2019_df, Apr_2019_df, May_2019_df, Jun_2019_df, Jul_2019_df, Aug_2019_df, 
           Sept_2019_df, Oct_2019_df, Nov_2019_df, Dec_2019_df]
df_L3_2019 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2019['xco2'] = df_L3_2019['xco2'] * 1e6
df_L3_2019.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2019

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  404.425696  2019   January
1        -180.000     -89.5  404.412227  2019   January
2        -180.000     -89.0  404.389796  2019   January
3        -180.000     -88.5  404.366524  2019   January
4        -180.000     -88.0  404.359458  2019   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  412.321102  2019  December
207932    179.375      88.5  412.332200  2019  December
207933    179.375      89.0  412.350417  2019  December
207934    179.375      89.5  412.372244  2019  December
207935    179.375      90.0  412.391091  2019  December

[2495232 rows x 5 columns]

In [125]:
## Convert to csv
df_L3_2019.to_csv('Xco2_L3_2019.csv', index = None)

In [126]:
pd.read_csv('Xco2_L3_2019.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  404.425696  2019   January
1         -180.000     -89.5  404.412227  2019   January
2         -180.000     -89.0  404.389796  2019   January
3         -180.000     -88.5  404.366524  2019   January
4         -180.000     -88.0  404.359458  2019   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  412.321102  2019  December
2495228    179.375      88.5  412.332200  2019  December
2495229    179.375      89.0  412.350417  2019  December
2495230    179.375      89.5  412.372244  2019  December
2495231    179.375      90.0  412.391091  2019  December

[2495232 rows x 5 columns]

## 2020

In [127]:
%time
data_xco2_2020 = []

for i in range(60, 72):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2020.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [128]:
list(data_xco2_2020[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [129]:
df_xr_2020 = []

for i in range(60, 72):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2020.append(df_xr)

In [130]:
df_xr_2020[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2020-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2020-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2020-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-03-15T12:22:58Z
    History:                        Original file generated: Tue Mar 15 12:22...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [131]:
df_xco2_2020 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2020[i]["XCO2"][0].to_pandas()
    
    df_xco2_2020.append(df)
    
df_xco2_2020

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  88.5  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  89.0  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  89.5  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  90.0  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -89.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -89.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -88.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -88.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000414  0.000414  0.000414  ...  0.000414  0.000414  0.000414
  88.5  0.000414  0.000414  0.000414  ...  0.000414  0.000414  0.000414
  89.0  0.000414  0.000414  0.000414  ...  0.000414  0.000414  0.000414
  89.5  0.000414  0.000414  0.000414  ...  0.000414  0.000414  0.000414
  90.0  0.000414  0.000414  0.000414  ...  0.000414  0.000414  0.000414

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  88.5  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  89.0  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  89.5  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414
  90.0  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414  0.000414

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -89.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -89.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -88.5  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 -88.0  0.000407  0.000407  0.000407  ...  0.000407  0.000407  0.000407
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -89.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.5  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 -88.0  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407  0.000407
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  88.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
  88.5  0.000413  0.000413  0.000413  ...  0.000412  0.000412  0.000412
  89.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  ...  0.000413  0.000413  0.000413

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
  89.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  89.5  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413
  90.0  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413  0.000413

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  ...  0.000408  0.000408  0.000408

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 -88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  88.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  89.5  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408
  90.0  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408  0.000408

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 -89.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 -89.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 -88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409

In [132]:
Jan_2020_df = pd.DataFrame(df_xco2_2020[0].unstack())
Jan_2020_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2020_df
Jan_2020_df = Jan_2020_df['xco2'].reset_index()
Jan_2020_df['Year'] = 2020
Jan_2020_df['Month'] = 'January'
Jan_2020_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000407  2020  January
1      -180.000 -89.5  0.000407  2020  January
2      -180.000 -89.0  0.000407  2020  January
3      -180.000 -88.5  0.000407  2020  January
4      -180.000 -88.0  0.000407  2020  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000414  2020  January
207932  179.375  88.5  0.000414  2020  January
207933  179.375  89.0  0.000414  2020  January
207934  179.375  89.5  0.000414  2020  January
207935  179.375  90.0  0.000414  2020  January

[207936 rows x 5 columns]

In [133]:
Feb_2020_df = pd.DataFrame(df_xco2_2020[1].unstack())
Feb_2020_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2020_df
Feb_2020_df = Feb_2020_df['xco2'].reset_index()
Feb_2020_df['Year'] = 2020
Feb_2020_df['Month'] = 'February'
Feb_2020_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000408  2020  February
1      -180.000 -89.5  0.000408  2020  February
2      -180.000 -89.0  0.000408  2020  February
3      -180.000 -88.5  0.000408  2020  February
4      -180.000 -88.0  0.000408  2020  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000415  2020  February
207932  179.375  88.5  0.000415  2020  February
207933  179.375  89.0  0.000415  2020  February
207934  179.375  89.5  0.000415  2020  February
207935  179.375  90.0  0.000415  2020  February

[207936 rows x 5 columns]

In [134]:
Mar_2020_df = pd.DataFrame(df_xco2_2020[2].unstack())
Mar_2020_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2020_df
Mar_2020_df = Mar_2020_df['xco2'].reset_index()
Mar_2020_df['Year'] = 2020
Mar_2020_df['Month'] = 'March'
Mar_2020_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000407  2020  March
1      -180.000 -89.5  0.000407  2020  March
2      -180.000 -89.0  0.000407  2020  March
3      -180.000 -88.5  0.000407  2020  March
4      -180.000 -88.0  0.000407  2020  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000416  2020  March
207932  179.375  88.5  0.000416  2020  March
207933  179.375  89.0  0.000416  2020  March
207934  179.375  89.5  0.000416  2020  March
207935  179.375  90.0  0.000416  2020  March

[207936 rows x 5 columns]

In [135]:
Apr_2020_df = pd.DataFrame(df_xco2_2020[3].unstack())
Apr_2020_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2020_df
Apr_2020_df = Apr_2020_df['xco2'].reset_index()
Apr_2020_df['Year'] = 2020
Apr_2020_df['Month'] = 'April'
Apr_2020_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000408  2020  April
1      -180.000 -89.5  0.000408  2020  April
2      -180.000 -89.0  0.000408  2020  April
3      -180.000 -88.5  0.000408  2020  April
4      -180.000 -88.0  0.000408  2020  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000416  2020  April
207932  179.375  88.5  0.000416  2020  April
207933  179.375  89.0  0.000416  2020  April
207934  179.375  89.5  0.000416  2020  April
207935  179.375  90.0  0.000416  2020  April

[207936 rows x 5 columns]

In [136]:
May_2020_df = pd.DataFrame(df_xco2_2020[4].unstack())
May_2020_df.rename(columns={0:'xco2'}, inplace = True)
May_2020_df
May_2020_df = May_2020_df['xco2'].reset_index()
May_2020_df['Year'] = 2020
May_2020_df['Month'] = 'May'
May_2020_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000408  2020   May
1      -180.000 -89.5  0.000408  2020   May
2      -180.000 -89.0  0.000408  2020   May
3      -180.000 -88.5  0.000408  2020   May
4      -180.000 -88.0  0.000408  2020   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000415  2020   May
207932  179.375  88.5  0.000415  2020   May
207933  179.375  89.0  0.000415  2020   May
207934  179.375  89.5  0.000415  2020   May
207935  179.375  90.0  0.000415  2020   May

[207936 rows x 5 columns]

In [137]:
Jun_2020_df = pd.DataFrame(df_xco2_2020[5].unstack())
Jun_2020_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2020_df
Jun_2020_df = Jun_2020_df['xco2'].reset_index()
Jun_2020_df['Year'] = 2020
Jun_2020_df['Month'] = 'June'
Jun_2020_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000408  2020  June
1      -180.000 -89.5  0.000408  2020  June
2      -180.000 -89.0  0.000408  2020  June
3      -180.000 -88.5  0.000408  2020  June
4      -180.000 -88.0  0.000408  2020  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000412  2020  June
207932  179.375  88.5  0.000412  2020  June
207933  179.375  89.0  0.000413  2020  June
207934  179.375  89.5  0.000413  2020  June
207935  179.375  90.0  0.000413  2020  June

[207936 rows x 5 columns]

In [138]:
Jul_2020_df = pd.DataFrame(df_xco2_2020[6].unstack())
Jul_2020_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2020_df
Jul_2020_df = Jul_2020_df['xco2'].reset_index()
Jul_2020_df['Year'] = 2020
Jul_2020_df['Month'] = 'July'
Jul_2020_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000408  2020  July
1      -180.000 -89.5  0.000408  2020  July
2      -180.000 -89.0  0.000408  2020  July
3      -180.000 -88.5  0.000408  2020  July
4      -180.000 -88.0  0.000408  2020  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000408  2020  July
207932  179.375  88.5  0.000408  2020  July
207933  179.375  89.0  0.000408  2020  July
207934  179.375  89.5  0.000408  2020  July
207935  179.375  90.0  0.000408  2020  July

[207936 rows x 5 columns]

In [139]:
Aug_2020_df = pd.DataFrame(df_xco2_2020[7].unstack())
Aug_2020_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2020_df
Aug_2020_df = Aug_2020_df['xco2'].reset_index()
Aug_2020_df['Year'] = 2020
Aug_2020_df['Month'] = 'August'
Aug_2020_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000409  2020  August
1      -180.000 -89.5  0.000409  2020  August
2      -180.000 -89.0  0.000409  2020  August
3      -180.000 -88.5  0.000409  2020  August
4      -180.000 -88.0  0.000409  2020  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000406  2020  August
207932  179.375  88.5  0.000406  2020  August
207933  179.375  89.0  0.000406  2020  August
207934  179.375  89.5  0.000406  2020  August
207935  179.375  90.0  0.000406  2020  August

[207936 rows x 5 columns]

In [140]:
Sept_2020_df = pd.DataFrame(df_xco2_2020[8].unstack())
Sept_2020_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2020_df
Sept_2020_df = Sept_2020_df['xco2'].reset_index()
Sept_2020_df['Year'] = 2020
Sept_2020_df['Month'] = 'September'
Sept_2020_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000409  2020  September
1      -180.000 -89.5  0.000409  2020  September
2      -180.000 -89.0  0.000409  2020  September
3      -180.000 -88.5  0.000409  2020  September
4      -180.000 -88.0  0.000409  2020  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000407  2020  September
207932  179.375  88.5  0.000407  2020  September
207933  179.375  89.0  0.000407  2020  September
207934  179.375  89.5  0.000407  2020  September
207935  179.375  90.0  0.000407  2020  September

[207936 rows x 5 columns]

In [141]:
Oct_2020_df = pd.DataFrame(df_xco2_2020[9].unstack())
Oct_2020_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2020_df
Oct_2020_df = Oct_2020_df['xco2'].reset_index()
Oct_2020_df['Year'] = 2020
Oct_2020_df['Month'] = 'October'
Oct_2020_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000409  2020  October
1      -180.000 -89.5  0.000409  2020  October
2      -180.000 -89.0  0.000409  2020  October
3      -180.000 -88.5  0.000409  2020  October
4      -180.000 -88.0  0.000409  2020  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000410  2020  October
207932  179.375  88.5  0.000411  2020  October
207933  179.375  89.0  0.000410  2020  October
207934  179.375  89.5  0.000410  2020  October
207935  179.375  90.0  0.000410  2020  October

[207936 rows x 5 columns]

In [142]:
Nov_2020_df = pd.DataFrame(df_xco2_2020[10].unstack())
Nov_2020_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2020_df
Nov_2020_df = Nov_2020_df['xco2'].reset_index()
Nov_2020_df['Year'] = 2020
Nov_2020_df['Month'] = 'November'
Nov_2020_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000410  2020  November
1      -180.000 -89.5  0.000410  2020  November
2      -180.000 -89.0  0.000410  2020  November
3      -180.000 -88.5  0.000409  2020  November
4      -180.000 -88.0  0.000409  2020  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000413  2020  November
207932  179.375  88.5  0.000413  2020  November
207933  179.375  89.0  0.000413  2020  November
207934  179.375  89.5  0.000413  2020  November
207935  179.375  90.0  0.000413  2020  November

[207936 rows x 5 columns]

In [143]:
Dec_2020_df = pd.DataFrame(df_xco2_2020[11].unstack())
Dec_2020_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2020_df
Dec_2020_df = Dec_2020_df['xco2'].reset_index()
Dec_2020_df['Year'] = 2020
Dec_2020_df['Month'] = 'December'
Dec_2020_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000410  2020  December
1      -180.000 -89.5  0.000409  2020  December
2      -180.000 -89.0  0.000409  2020  December
3      -180.000 -88.5  0.000409  2020  December
4      -180.000 -88.0  0.000409  2020  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000415  2020  December
207932  179.375  88.5  0.000415  2020  December
207933  179.375  89.0  0.000415  2020  December
207934  179.375  89.5  0.000415  2020  December
207935  179.375  90.0  0.000415  2020  December

[207936 rows x 5 columns]

In [144]:
pd_List = [Jan_2020_df, Feb_2020_df, Mar_2020_df, Apr_2020_df, May_2020_df, Jun_2020_df, Jul_2020_df, Aug_2020_df, 
           Sept_2020_df, Oct_2020_df, Nov_2020_df, Dec_2020_df]
df_L3_2020 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2020['xco2'] = df_L3_2020['xco2'] * 1e6
df_L3_2020.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2020

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  407.368276  2020   January
1        -180.000     -89.5  407.352731  2020   January
2        -180.000     -89.0  407.334282  2020   January
3        -180.000     -88.5  407.322891  2020   January
4        -180.000     -88.0  407.331621  2020   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  414.873913  2020  December
207932    179.375      88.5  414.902126  2020  December
207933    179.375      89.0  414.923010  2020  December
207934    179.375      89.5  414.931620  2020  December
207935    179.375      90.0  414.935977  2020  December

[2495232 rows x 5 columns]

In [145]:
## Convert to csv
df_L3_2020.to_csv('Xco2_L3_2020.csv', index = None)

In [146]:
pd.read_csv('Xco2_L3_2020.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  407.368276  2020   January
1         -180.000     -89.5  407.352731  2020   January
2         -180.000     -89.0  407.334282  2020   January
3         -180.000     -88.5  407.322891  2020   January
4         -180.000     -88.0  407.331621  2020   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  414.873913  2020  December
2495228    179.375      88.5  414.902126  2020  December
2495229    179.375      89.0  414.923010  2020  December
2495230    179.375      89.5  414.931620  2020  December
2495231    179.375      90.0  414.935977  2020  December

[2495232 rows x 5 columns]

## 2021

In [5]:
%time
data_xco2_2021 = []

for i in range(72, 84):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2021.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [6]:
list(data_xco2_2021[11].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [7]:
df_xr_2021 = []

for i in range(72, 84):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2021.append(df_xr)

In [8]:
df_xr_2021[11]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2021-12-16T12:00:00
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2021-12-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2021-12-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-06-29T07:49:57Z
    History:                        Original file generated: Wed Jun 29 07:49...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [9]:
df_xco2_2021 = []

for i in range(0, 12):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2021[i]["XCO2"][0].to_pandas()
    
    df_xco2_2021.append(df)
    
df_xco2_2021

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 -88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.5  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
 -88.0  0.000409  0.000409  0.000409  ...  0.000409  0.000409  0.000409
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  ...  0.000416  0.000416  0.000416

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 -88.0  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409  0.000409
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  88.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  89.5  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416
  90.0  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416  0.000416

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  88.5  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  89.0  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  89.5  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  90.0  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000417  0.000417  0.000417  ...  0.000417  0.000417  0.000417
  88.5  0.000417  0.000417  0.000417  ...  0.000417  0.000417  0.000417
  89.0  0.000417  0.000417  0.000417  ...  0.000417  0.000417  0.000417
  89.5  0.000417  0.000417  0.000417  ...  0.000417  0.000417  0.000417
  90.0  0.000417  0.000417  0.000417  ...  0.000417  0.000417  0.000417

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  88.5  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  89.0  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  89.5  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417
  90.0  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417  0.000417

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  ...  0.000418  0.000418  0.000418

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  88.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  89.5  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418
  90.0  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418  0.000418

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  ...  0.000410  0.000410  0.000410
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  ...  0.000415  0.000415  0.000415

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -89.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.5  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 -88.0  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410  0.000410
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  88.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  89.5  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415
  90.0  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415  0.000415

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
 -89.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
 -89.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
 -88.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
 -88.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  ...  0.000411  0.000411  0.000411

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
  90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -89.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -89.0  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411
 -88.5  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411  0.000411

In [10]:
Jan_2021_df = pd.DataFrame(df_xco2_2021[0].unstack())
Jan_2021_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2021_df
Jan_2021_df = Jan_2021_df['xco2'].reset_index()
Jan_2021_df['Year'] = 2021
Jan_2021_df['Month'] = 'January'
Jan_2021_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000410  2021  January
1      -180.000 -89.5  0.000410  2021  January
2      -180.000 -89.0  0.000410  2021  January
3      -180.000 -88.5  0.000409  2021  January
4      -180.000 -88.0  0.000409  2021  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000416  2021  January
207932  179.375  88.5  0.000416  2021  January
207933  179.375  89.0  0.000416  2021  January
207934  179.375  89.5  0.000416  2021  January
207935  179.375  90.0  0.000416  2021  January

[207936 rows x 5 columns]

In [11]:
Feb_2021_df = pd.DataFrame(df_xco2_2021[1].unstack())
Feb_2021_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2021_df
Feb_2021_df = Feb_2021_df['xco2'].reset_index()
Feb_2021_df['Year'] = 2021
Feb_2021_df['Month'] = 'February'
Feb_2021_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000410  2021  February
1      -180.000 -89.5  0.000410  2021  February
2      -180.000 -89.0  0.000410  2021  February
3      -180.000 -88.5  0.000410  2021  February
4      -180.000 -88.0  0.000410  2021  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000417  2021  February
207932  179.375  88.5  0.000417  2021  February
207933  179.375  89.0  0.000417  2021  February
207934  179.375  89.5  0.000417  2021  February
207935  179.375  90.0  0.000417  2021  February

[207936 rows x 5 columns]

In [12]:
Mar_2021_df = pd.DataFrame(df_xco2_2021[2].unstack())
Mar_2021_df.rename(columns={0:'xco2'}, inplace = True)
Mar_2021_df
Mar_2021_df = Mar_2021_df['xco2'].reset_index()
Mar_2021_df['Year'] = 2021
Mar_2021_df['Month'] = 'March'
Mar_2021_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000410  2021  March
1      -180.000 -89.5  0.000410  2021  March
2      -180.000 -89.0  0.000410  2021  March
3      -180.000 -88.5  0.000410  2021  March
4      -180.000 -88.0  0.000410  2021  March
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000418  2021  March
207932  179.375  88.5  0.000418  2021  March
207933  179.375  89.0  0.000418  2021  March
207934  179.375  89.5  0.000418  2021  March
207935  179.375  90.0  0.000418  2021  March

[207936 rows x 5 columns]

In [13]:
Apr_2021_df = pd.DataFrame(df_xco2_2021[3].unstack())
Apr_2021_df.rename(columns={0:'xco2'}, inplace = True)
Apr_2021_df
Apr_2021_df = Apr_2021_df['xco2'].reset_index()
Apr_2021_df['Year'] = 2021
Apr_2021_df['Month'] = 'April'
Apr_2021_df

            lon   lat      xco2  Year  Month
0      -180.000 -90.0  0.000410  2021  April
1      -180.000 -89.5  0.000410  2021  April
2      -180.000 -89.0  0.000410  2021  April
3      -180.000 -88.5  0.000410  2021  April
4      -180.000 -88.0  0.000410  2021  April
...         ...   ...       ...   ...    ...
207931  179.375  88.0  0.000418  2021  April
207932  179.375  88.5  0.000418  2021  April
207933  179.375  89.0  0.000418  2021  April
207934  179.375  89.5  0.000418  2021  April
207935  179.375  90.0  0.000418  2021  April

[207936 rows x 5 columns]

In [14]:
May_2021_df = pd.DataFrame(df_xco2_2021[4].unstack())
May_2021_df.rename(columns={0:'xco2'}, inplace = True)
May_2021_df
May_2021_df = May_2021_df['xco2'].reset_index()
May_2021_df['Year'] = 2021
May_2021_df['Month'] = 'May'
May_2021_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000410  2021   May
1      -180.000 -89.5  0.000410  2021   May
2      -180.000 -89.0  0.000410  2021   May
3      -180.000 -88.5  0.000410  2021   May
4      -180.000 -88.0  0.000410  2021   May
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000418  2021   May
207932  179.375  88.5  0.000418  2021   May
207933  179.375  89.0  0.000418  2021   May
207934  179.375  89.5  0.000418  2021   May
207935  179.375  90.0  0.000418  2021   May

[207936 rows x 5 columns]

In [15]:
Jun_2021_df = pd.DataFrame(df_xco2_2021[5].unstack())
Jun_2021_df.rename(columns={0:'xco2'}, inplace = True)
Jun_2021_df
Jun_2021_df = Jun_2021_df['xco2'].reset_index()
Jun_2021_df['Year'] = 2021
Jun_2021_df['Month'] = 'June'
Jun_2021_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000410  2021  June
1      -180.000 -89.5  0.000410  2021  June
2      -180.000 -89.0  0.000410  2021  June
3      -180.000 -88.5  0.000410  2021  June
4      -180.000 -88.0  0.000410  2021  June
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000415  2021  June
207932  179.375  88.5  0.000415  2021  June
207933  179.375  89.0  0.000415  2021  June
207934  179.375  89.5  0.000415  2021  June
207935  179.375  90.0  0.000415  2021  June

[207936 rows x 5 columns]

In [16]:
Jul_2021_df = pd.DataFrame(df_xco2_2021[6].unstack())
Jul_2021_df.rename(columns={0:'xco2'}, inplace = True)
Jul_2021_df
Jul_2021_df = Jul_2021_df['xco2'].reset_index()
Jul_2021_df['Year'] = 2021
Jul_2021_df['Month'] = 'July'
Jul_2021_df

            lon   lat      xco2  Year Month
0      -180.000 -90.0  0.000411  2021  July
1      -180.000 -89.5  0.000411  2021  July
2      -180.000 -89.0  0.000411  2021  July
3      -180.000 -88.5  0.000411  2021  July
4      -180.000 -88.0  0.000411  2021  July
...         ...   ...       ...   ...   ...
207931  179.375  88.0  0.000411  2021  July
207932  179.375  88.5  0.000411  2021  July
207933  179.375  89.0  0.000411  2021  July
207934  179.375  89.5  0.000411  2021  July
207935  179.375  90.0  0.000411  2021  July

[207936 rows x 5 columns]

In [17]:
Aug_2021_df = pd.DataFrame(df_xco2_2021[7].unstack())
Aug_2021_df.rename(columns={0:'xco2'}, inplace = True)
Aug_2021_df
Aug_2021_df = Aug_2021_df['xco2'].reset_index()
Aug_2021_df['Year'] = 2021
Aug_2021_df['Month'] = 'August'
Aug_2021_df

            lon   lat      xco2  Year   Month
0      -180.000 -90.0  0.000411  2021  August
1      -180.000 -89.5  0.000411  2021  August
2      -180.000 -89.0  0.000411  2021  August
3      -180.000 -88.5  0.000411  2021  August
4      -180.000 -88.0  0.000411  2021  August
...         ...   ...       ...   ...     ...
207931  179.375  88.0  0.000408  2021  August
207932  179.375  88.5  0.000408  2021  August
207933  179.375  89.0  0.000408  2021  August
207934  179.375  89.5  0.000408  2021  August
207935  179.375  90.0  0.000408  2021  August

[207936 rows x 5 columns]

In [18]:
Sept_2021_df = pd.DataFrame(df_xco2_2021[8].unstack())
Sept_2021_df.rename(columns={0:'xco2'}, inplace = True)
Sept_2021_df
Sept_2021_df = Sept_2021_df['xco2'].reset_index()
Sept_2021_df['Year'] = 2021
Sept_2021_df['Month'] = 'September'
Sept_2021_df

            lon   lat      xco2  Year      Month
0      -180.000 -90.0  0.000411  2021  September
1      -180.000 -89.5  0.000411  2021  September
2      -180.000 -89.0  0.000411  2021  September
3      -180.000 -88.5  0.000411  2021  September
4      -180.000 -88.0  0.000411  2021  September
...         ...   ...       ...   ...        ...
207931  179.375  88.0  0.000409  2021  September
207932  179.375  88.5  0.000409  2021  September
207933  179.375  89.0  0.000409  2021  September
207934  179.375  89.5  0.000409  2021  September
207935  179.375  90.0  0.000409  2021  September

[207936 rows x 5 columns]

In [19]:
Oct_2021_df = pd.DataFrame(df_xco2_2021[9].unstack())
Oct_2021_df.rename(columns={0:'xco2'}, inplace = True)
Oct_2021_df
Oct_2021_df = Oct_2021_df['xco2'].reset_index()
Oct_2021_df['Year'] = 2021
Oct_2021_df['Month'] = 'October'
Oct_2021_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000412  2021  October
1      -180.000 -89.5  0.000412  2021  October
2      -180.000 -89.0  0.000412  2021  October
3      -180.000 -88.5  0.000411  2021  October
4      -180.000 -88.0  0.000411  2021  October
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000412  2021  October
207932  179.375  88.5  0.000412  2021  October
207933  179.375  89.0  0.000412  2021  October
207934  179.375  89.5  0.000412  2021  October
207935  179.375  90.0  0.000412  2021  October

[207936 rows x 5 columns]

In [20]:
Nov_2021_df = pd.DataFrame(df_xco2_2021[10].unstack())
Nov_2021_df.rename(columns={0:'xco2'}, inplace = True)
Nov_2021_df
Nov_2021_df = Nov_2021_df['xco2'].reset_index()
Nov_2021_df['Year'] = 2021
Nov_2021_df['Month'] = 'November'
Nov_2021_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000412  2021  November
1      -180.000 -89.5  0.000412  2021  November
2      -180.000 -89.0  0.000412  2021  November
3      -180.000 -88.5  0.000412  2021  November
4      -180.000 -88.0  0.000412  2021  November
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000416  2021  November
207932  179.375  88.5  0.000416  2021  November
207933  179.375  89.0  0.000416  2021  November
207934  179.375  89.5  0.000416  2021  November
207935  179.375  90.0  0.000416  2021  November

[207936 rows x 5 columns]

In [21]:
Dec_2021_df = pd.DataFrame(df_xco2_2021[11].unstack())
Dec_2021_df.rename(columns={0:'xco2'}, inplace = True)
Dec_2021_df
Dec_2021_df = Dec_2021_df['xco2'].reset_index()
Dec_2021_df['Year'] = 2021
Dec_2021_df['Month'] = 'December'
Dec_2021_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000412  2021  December
1      -180.000 -89.5  0.000412  2021  December
2      -180.000 -89.0  0.000412  2021  December
3      -180.000 -88.5  0.000411  2021  December
4      -180.000 -88.0  0.000411  2021  December
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000418  2021  December
207932  179.375  88.5  0.000418  2021  December
207933  179.375  89.0  0.000418  2021  December
207934  179.375  89.5  0.000418  2021  December
207935  179.375  90.0  0.000418  2021  December

[207936 rows x 5 columns]

In [22]:
pd_List = [Jan_2021_df, Feb_2021_df, Mar_2021_df, Apr_2021_df, May_2021_df, Jun_2021_df, Jul_2021_df, Aug_2021_df, 
           Sept_2021_df, Oct_2021_df, Nov_2021_df, Dec_2021_df]
df_L3_2021 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2021['xco2'] = df_L3_2021['xco2'] * 1e6
df_L3_2021.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2021

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  409.575587  2021   January
1        -180.000     -89.5  409.550819  2021   January
2        -180.000     -89.0  409.520025  2021   January
3        -180.000     -88.5  409.490761  2021   January
4        -180.000     -88.0  409.482761  2021   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  417.898040  2021  December
207932    179.375      88.5  417.887099  2021  December
207933    179.375      89.0  417.885841  2021  December
207934    179.375      89.5  417.895651  2021  December
207935    179.375      90.0  417.904571  2021  December

[2495232 rows x 5 columns]

In [23]:
## Convert to csv
df_L3_2021.to_csv('Xco2_L3_2021.csv', index = None)

In [24]:
pd.read_csv('Xco2_L3_2021.csv')

         longitude  latitude        xco2  Year     Month
0         -180.000     -90.0  409.575587  2021   January
1         -180.000     -89.5  409.550819  2021   January
2         -180.000     -89.0  409.520025  2021   January
3         -180.000     -88.5  409.490761  2021   January
4         -180.000     -88.0  409.482761  2021   January
...            ...       ...         ...   ...       ...
2495227    179.375      88.0  417.898040  2021  December
2495228    179.375      88.5  417.887099  2021  December
2495229    179.375      89.0  417.885841  2021  December
2495230    179.375      89.5  417.895651  2021  December
2495231    179.375      90.0  417.904571  2021  December

[2495232 rows x 5 columns]

## 2022

In [147]:
%time
data_xco2_2022 = []

for i in range(84, 86):
    data_xco2 = netCDF4.Dataset(file_path_L3_2021[i])
    data_xco2_2022.append(data_xco2)

CPU times: total: 0 ns
Wall time: 0 ns

In [148]:
list(data_xco2_2022[1].variables.keys())

['XCO2', 'XCO2PREC', 'lat', 'lon', 'time']

## Xarray

In [149]:
df_xr_2022 = []

for i in range(84, 86):
    df_xr = xarray.open_dataset(file_path_L3_2021[i])
    df_xr_2022.append(df_xr)

In [150]:
df_xr_2022[1]

<xarray.Dataset>
Dimensions:   (time: 1, lat: 361, lon: 576)
Coordinates:
  * lat       (lat) float64 -90.0 -89.5 -89.0 -88.5 ... 88.5 89.0 89.5 90.0
  * lon       (lon) float64 -180.0 -179.4 -178.8 -178.1 ... 178.1 178.8 179.4
  * time      (time) datetime64[ns] 2022-02-15
Data variables:
    XCO2      (time, lat, lon) float64 ...
    XCO2PREC  (time, lat, lon) float64 ...
Attributes: (12/25)
    RangeBeginningDate:             2022-02-01
    RangeBeginningTime:             00:00:00.000000
    RangeEndingDate:                2022-02-01
    RangeEndingTime:                23:59:99.999999
    SpatialCoverage:                global
    SouthBoundingCoordinate:        -90.0
    ...                             ...
    ProductionDateTime:             2022-06-29T07:50:51Z
    History:                        Original file generated: Wed Jun 29 07:50...
    ShortName:                      OCO2_GEOS_L3CO2_MONTH_10r
    LongName:                       OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    Title:                          OCO-2 GEOS Level 3 monthly, 0.5x0.625 ass...
    IdentifierProductDOI:           10.5067/BGFIODET3HZ8

In [151]:
df_xco2_2022 = []

for i in range(0, 2):
#     name = f"df_xr_2015_" + str(Months[i])
#     name = df_xr_2015[i]["XCO2"][0].to_pandas()
    df = df_xr_2022[i]["XCO2"][0].to_pandas()
    
    df_xco2_2022.append(df)
    
df_xco2_2022

[lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  88.5  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  89.0  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  89.5  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  90.0  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -89.5  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -89.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -88.5  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -88.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000419  0.000419  0.000419  ...  0.000419  0.000419  0.000419
  88.5  0.000419  0.000419  0.000419  ...  0.000419  0.000419  0.000419
  89.0  0.000419  0.000419  0.000419  ...  0.000419  0.000419  0.000419
  89.5  0.000419  0.000419  0.000419  ...  0.000419  0.000419  0.000419
  90.0  0.000419  0.000419  0.000419  ...  0.000419  0.000419  0.000419

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  88.5  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  89.0  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  89.5  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419
  90.0  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419  0.000419

 [361 rows x 576 columns],
 lon    -180.000  -179.375  -178.750  -178.125  -177.500  -176.875  -176.250  \
 lat
 -90.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  88.5  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  89.0  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  89.5  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  90.0  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420

 lon    -175.625  -175.000  -174.375  ...   173.750   174.375   175.000  \
 lat                                  ...
 -90.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -89.5  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -89.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -88.5  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 -88.0  0.000412  0.000412  0.000412  ...  0.000412  0.000412  0.000412
 ...         ...       ...       ...  ...       ...       ...       ...
  88.0  0.000420  0.000420  0.000420  ...  0.000420  0.000420  0.000420
  88.5  0.000420  0.000420  0.000420  ...  0.000420  0.000420  0.000420
  89.0  0.000420  0.000420  0.000420  ...  0.000420  0.000420  0.000420
  89.5  0.000420  0.000420  0.000420  ...  0.000420  0.000420  0.000420
  90.0  0.000420  0.000420  0.000420  ...  0.000420  0.000420  0.000420

 lon     175.625   176.250   176.875   177.500   178.125   178.750   179.375
 lat
 -90.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -89.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.5  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 -88.0  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412  0.000412
 ...         ...       ...       ...       ...       ...       ...       ...
  88.0  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  88.5  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  89.0  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  89.5  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420
  90.0  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420  0.000420

 [361 rows x 576 columns]]

In [152]:
Jan_2022_df = pd.DataFrame(df_xco2_2022[0].unstack())
Jan_2022_df.rename(columns={0:'xco2'}, inplace = True)
Jan_2022_df
Jan_2022_df = Jan_2022_df['xco2'].reset_index()
Jan_2022_df['Year'] = 2022
Jan_2022_df['Month'] = 'January'
Jan_2022_df

            lon   lat      xco2  Year    Month
0      -180.000 -90.0  0.000412  2022  January
1      -180.000 -89.5  0.000412  2022  January
2      -180.000 -89.0  0.000412  2022  January
3      -180.000 -88.5  0.000412  2022  January
4      -180.000 -88.0  0.000412  2022  January
...         ...   ...       ...   ...      ...
207931  179.375  88.0  0.000419  2022  January
207932  179.375  88.5  0.000419  2022  January
207933  179.375  89.0  0.000419  2022  January
207934  179.375  89.5  0.000419  2022  January
207935  179.375  90.0  0.000419  2022  January

[207936 rows x 5 columns]

In [153]:
Feb_2022_df = pd.DataFrame(df_xco2_2022[0].unstack())
Feb_2022_df.rename(columns={0:'xco2'}, inplace = True)
Feb_2022_df
Feb_2022_df = Feb_2022_df['xco2'].reset_index()
Feb_2022_df['Year'] = 2022
Feb_2022_df['Month'] = 'February'
Feb_2022_df

            lon   lat      xco2  Year     Month
0      -180.000 -90.0  0.000412  2022  February
1      -180.000 -89.5  0.000412  2022  February
2      -180.000 -89.0  0.000412  2022  February
3      -180.000 -88.5  0.000412  2022  February
4      -180.000 -88.0  0.000412  2022  February
...         ...   ...       ...   ...       ...
207931  179.375  88.0  0.000419  2022  February
207932  179.375  88.5  0.000419  2022  February
207933  179.375  89.0  0.000419  2022  February
207934  179.375  89.5  0.000419  2022  February
207935  179.375  90.0  0.000419  2022  February

[207936 rows x 5 columns]

In [154]:
pd_List = [Jan_2022_df, Feb_2022_df]
df_L3_2022 = pd.concat(pd_List)
#Change xco2 to parts per million
df_L3_2022['xco2'] = df_L3_2022['xco2'] * 1e6
df_L3_2022.rename(columns = {'lon' : 'longitude', 'lat' : 'latitude'}, inplace = True)
df_L3_2022

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  411.749945  2022   January
1        -180.000     -89.5  411.717996  2022   January
2        -180.000     -89.0  411.677095  2022   January
3        -180.000     -88.5  411.635663  2022   January
4        -180.000     -88.0  411.619983  2022   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  419.348985  2022  February
207932    179.375      88.5  419.363277  2022  February
207933    179.375      89.0  419.358291  2022  February
207934    179.375      89.5  419.332850  2022  February
207935    179.375      90.0  419.299930  2022  February

[415872 rows x 5 columns]

In [155]:
## Convert to csv
df_L3_2022.to_csv('Xco2_L3_2022.csv', index = None)

In [156]:
pd.read_csv('Xco2_L3_2022.csv')

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  411.749945  2022   January
1        -180.000     -89.5  411.717996  2022   January
2        -180.000     -89.0  411.677095  2022   January
3        -180.000     -88.5  411.635663  2022   January
4        -180.000     -88.0  411.619983  2022   January
...           ...       ...         ...   ...       ...
415867    179.375      88.0  419.348985  2022  February
415868    179.375      88.5  419.363277  2022  February
415869    179.375      89.0  419.358291  2022  February
415870    179.375      89.5  419.332850  2022  February
415871    179.375      90.0  419.299930  2022  February

[415872 rows x 5 columns]

In [157]:
pd_List = [df_L3_2015, df_L3_2016, df_L3_2017, df_L3_2018, df_L3_2019, df_L3_2020, df_L3_2021, df_L3_2022]
df_L3_2015_to_22 = pd.concat(pd_List)
df_L3_2015_to_22

        longitude  latitude        xco2  Year     Month
0        -180.000     -90.0  394.634441  2015   January
1        -180.000     -89.5  394.612467  2015   January
2        -180.000     -89.0  394.587501  2015   January
3        -180.000     -88.5  394.566608  2015   January
4        -180.000     -88.0  394.563475  2015   January
...           ...       ...         ...   ...       ...
207931    179.375      88.0  419.348985  2022  February
207932    179.375      88.5  419.363277  2022  February
207933    179.375      89.0  419.358291  2022  February
207934    179.375      89.5  419.332850  2022  February
207935    179.375      90.0  419.299930  2022  February

[17882496 rows x 5 columns]

In [158]:
## Convert to csv
df_L3_2015_to_22.to_csv('Xco2_L3_2015_to_22.csv', index = None)

In [159]:
pd.read_csv('Xco2_L3_2015_to_22.csv')

          longitude  latitude        xco2  Year     Month
0          -180.000     -90.0  394.634441  2015   January
1          -180.000     -89.5  394.612467  2015   January
2          -180.000     -89.0  394.587501  2015   January
3          -180.000     -88.5  394.566608  2015   January
4          -180.000     -88.0  394.563475  2015   January
...             ...       ...         ...   ...       ...
17882491    179.375      88.0  419.348985  2022  February
17882492    179.375      88.5  419.363277  2022  February
17882493    179.375      89.0  419.358291  2022  February
17882494    179.375      89.5  419.332850  2022  February
17882495    179.375      90.0  419.299930  2022  February

[17882496 rows x 5 columns]